@model IEnumerable<SistemaWebVendas.Models.RegistroDeVendas>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Montante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Montante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<h3>Pesquisa Simples</h3>
<form class="form-horizontal" asp-action="PesquisaSimples">
    <fieldset>
        <div class="form-group">
            <label for="minDate" class="col-md-2 control-label">Min Data</label>
            <div class="col-md-10">
                <input type="date" name="dtmin" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="maxDate" class="col-md-2 control-label">Max Data</label>
            <div class="col-md-10">
                <input type="date" name="dtmax" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button type="submit" class="btn btn-primary">Pesquisar</button>
            </div>
        </div>
    </fieldset>
</form>

<h3>Pesquisa de Grupos</h3>
<form class="form-horizontal" asp-action="PesquisaGrupos">
    <fieldset>
        <div class="form-group">
            <label for="minDate" class="col-md-2 control-label">Min Data</label>
            <div class="col-md-10">
                <input type="date" name="dtmin" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label for="maxDate" class="col-md-2 control-label">Max Data</label>
            <div class="col-md-10">
                <input type="date" name="dtmax" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10 col-md-offset-2">
                <button type="submit" class="btn btn-primary">Pesquisar</button>
            </div>
        </div>
    </fieldset>
</form>
