@model SistemaWebVendas.Models.Vendedor

@{
    ViewData["Title"] = "Remover Vendedor";
}

<h2>@ViewData["Title"]</h2>

<h3>Têm certeza que deseja deletar o vendedor?</h3>

<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SalarioBase)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SalarioBase)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="Index">Voltar para a Lista</a>
    </form>
</div>

